.header {
    display: flex;
    justify-content: space-between;
    height: auto;
    position: relative;
    z-index: 2;
}
@media print
{    
    body {
        -webkit-print-color-adjust: exact !important;
      }
    .no-print, .no-print *
    {
        display: none !important;
    }
}